<div class="item flex">
    <div class="main">
        <p class="name">{{event.name}}</p>
        <p *ngIf="event.budget">Бюджет: {{event.budget | currency:'USD'}}</p>
        <p *ngIf="event.address">Адрес: {{event.address}}</p>
        <p *ngIf="event.time">Время: {{event.time}}</p>
        <p *ngIf="event.note">Заметочка: {{event.note}}</p>
    </div>

    <div class="buttons">
        <a [routerLink]="['/event/', event.id]">
            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
        </a>
        <button (click)="delete(event)"><mat-icon aria-hidden="false" aria-label="Example delete icon">delete</mat-icon></button>
    </div>
</div>