<div class="form-wrapper">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" autocomplete="off">

        <ng-template [ngIf]="isNew" [ngIfElse]="edit">
            <h1>Добавить событие</h1>
        </ng-template>
        <ng-template #edit>
            <h1>Редактировать событие</h1>
        </ng-template>

        <mat-form-field appearance="fill">
            <mat-label>Название события</mat-label>
            <input type="text" name="name" [(ngModel)]="name" ngModel required matInput minlength="4">

            <div class="error" *ngIf="form.controls['name']?.invalid && form.controls['name']?.touched">
                <span *ngIf="form.controls['name'].hasError('required')">Это поле обязательное</span>
                <span *ngIf="form.controls['name'].hasError('minlength')">Минимальная длина 4</span>
            </div>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Тип события</mat-label>
            <mat-select (selectionChange)="changeValidators($event.value)" name="type" [(ngModel)]="type" ngModel required>
                <ng-container *ngFor="let type of types">
                    <mat-option [value]="type[0]">{{type[1]}}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>

        <ng-container *ngIf="type === 'holiday'">
            <mat-form-field appearance="fill">
                <mat-label>Бюджет</mat-label>
                <input name="budget" ngModel [(ngModel)]="budget" required matInput>
            </mat-form-field>
            <div class="error" *ngIf="form.controls['budget']?.invalid && form.controls['budget']?.touched">
                <span *ngIf="form.controls['budget'].hasError('required')">Это поле обязательное</span>
            </div>
        </ng-container>

        <ng-container *ngIf="type === 'event'">
            <mat-form-field appearance="fill">
                <mat-label>Куда идти?</mat-label>
                <input name="address" [(ngModel)]="address" ngModel required matInput minlength="4">
                <div class="error" *ngIf="form.controls['address']?.invalid && form.controls['address']?.touched">
                    <span *ngIf="form.controls['address'].hasError('required')">Это поле обязательное</span>
                    <span *ngIf="form.controls['address'].hasError('minlength')">Минимальная длина 4</span>
                </div>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Во сколько?</mat-label>
                <input name="time" [(ngModel)]="time" ngModel required matInput [ngxTimepicker]="picker" [format]="24">
                <ngx-material-timepicker #picker></ngx-material-timepicker>
                <div class="error" *ngIf="form.controls['time']?.invalid && form.controls['time']?.touched">
                    <span *ngIf="form.controls['time'].hasError('required')">Это поле обязательное</span>
                    <span *ngIf="form.controls['time'].hasError('minlength')">Минимальная длина 4</span>
                </div>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="type === 'note'">
            <mat-form-field appearance="fill">
                <mat-label>Заметка</mat-label>
                <input name="note" [(ngModel)]="note" ngModel required matInput minlength="4">
                <div class="error" *ngIf="form.controls['note']?.invalid && form.controls['note']?.touched">
                    <span *ngIf="form.controls['note'].hasError('required')">Это поле обязательное</span>
                    <span *ngIf="form.controls['note'].hasError('minlength')">Минимальная длина 4</span>
                </div>
            </mat-form-field>
        </ng-container>

        <div class="grid">
            <a routerLink="" class="btn">Отменить</a>
            <button class="submit" mat-button type="submit" [disabled]="form.invalid">Сохранить</button>
        </div>

    </form>
</div>